<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script>
        function toWrite(){
            alert('출력');
            window.location.href = "/";
        }
    </script>

</head>
<body>
    <div>
        <h1> 헬로우</h1>
        <!--<p th:text="'이건 되겠지211 ' + ${data}" >안녕하세요. 손님 이건 뭐지</p>-->
    </div>

    <button class="btn primary-btn" onclick="toWrite()"></button>
</body>
</html>